<ion-header mode = "md">  
    <ion-toolbar>   
         <ion-title>
                  <div class="version">Ionic v7</div> 
                       <strong>Rick & Morty</strong>  
                      </ion-title>
                     </ion-toolbar>
                    </ion-header>

<ion-content>
    <div class="glass-content">
        <ion-grid>
            <ion-row>                      
                <ion-col *ngFor="let personaje of characters" size-lg="6" size-md="6"  size-sm="12" size="12">
                   <ion-card>
                      <ion-grid>
                         <ion-row>
                            <ion-col class="ion-padding" size-lg="4" size-md="4"  size-sm="12" size="12">
                                 <ion-avatar>
                                    <img [src]="personaje.image" />
                                 </ion-avatar>   
                            </ion-col>
                               <ion-col class="ion-padding" size-lg="4" size-md="4"  size-sm="12" size="12">
                                 <div class="name">{{personaje.name}}</div>
                                  <p>Visto por primera vez: <br> <strong>{{personaje.origin.name}}</strong></p>
                                   <p>Vista por ultima vez: <br> <strong>{{personaje.location.name}}</strong></p> 
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="getCharacters($event)">
                        <ion-infinite-scroll-content
                        loadingSpinner="bubbles"
                        loadingText="Cargando más personajes...">                     
                                    
                
                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </ion-card>
            </ion-col>
       </ion-row>
    </ion-grid>
   </div>  
</ion-content>
